html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #f4f7fc;
  background: #0f131b;
  font-family: var(--font-noto-sans-kr), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
